<div class="button-card flex-row">
  <div class="btn-group-lg" role="group" aria-label="...">
    <button type="button" class="btn btn-default" {{action "wrongAnswer"}}><span class="glyphicon glyphicon-remove"></span></button>
  </div>
  <span class="label team-label blue">{{teams.blueScore}}</span>
  <span class="label team-label red">{{teams.redScore}}</span>
  <div class="btn-group-lg" role="group" aria-label="...">
    <button type="button" class="btn btn-default" {{action "correctAnswer"}}><span class={{"glyphicon glyphicon-ok"}}></span></button>
    <!--<button type="button" class="btn btn-default" {{action "nextTeam"}}><span class="glyphicon glyphicon-arrow-right"></span></button>-->
  </div>
  <span class="label team-label label-info">Rounds: {{teams.rounds}}</span>
</div>
